<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="TestBase">
        <classes>
            <class name="ViewerTest">
                <methods>
                    <include name = "userLoginWitPageObject/"/>
                    <exclude name = "userLoginTest"/>
                    <exclude name = "usersRepositoryCountFileTest"/>
                    <exclude name ="usersRepositoryCountFoldersAndFilesTest"/>
                    <exclude name ="creatingNewRepository"/>
                    <exclude name ="searchRepository"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>